.logo {
	padding-top: 0.5rem;
	fill: #e50914;
	line-height: normal;
	cursor: pointer;
}

.logo__netflix {
	height: 2.8125rem;
	width: 10.4375rem;
}

@media only screen and (min-width: 400px) and (max-width: 549px),
	only screen and (min-width: 350px) and (max-width: 399px),
	only screen and (max-width: 349px) {
	.logo__netflix {
		height: 1.5rem;
		width: 30%;
	}
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
	.logo__netflix {
		height: 2rem;
		width: 6.75rem;
	}
}

@media only screen and (min-width: 950px) and (max-width: 1449px) {
	.logo__netflix {
		height: 2.25rem;
		width: 8.375rem;
	}
}
